/* 88ccf1
c1dff0
3577a4
2d848a
2d898b */

/* #454545
#6D5959
#9DCBBA
#ABEBD2
#04F06A */

body {
  margin: 0;
  background-color: #6D5959;
  font-family: 'Gemunu Libre', sans-serif;
}

header {
  background-color: #454545;
  width: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 80px;
  height: 80px;
  margin: 0;
  border-radius: 50%;
}

h1 {
  margin-right: auto;
  margin-left: auto;
  color: #454545; 
}

h2{
  margin: 0;
  color: #6D5959;
}

h3{
  margin: 0;
  color: #454545;
}

h4{
  margin: 0;
}

form{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding:50px;
}
form button{
  background-color: #454545;
  border: none;
  height: 30px;
  width: 70px;
  color:white;
  border-radius: 5px;
}
form button:hover{
  background: #04F06A;
  color: black;
  cursor: pointer;
}

ul{
  padding-left: 0;
  color:white;
  list-style-type: none;
}

select {
  border: none;
  color: white;
  background: #454545;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
select:hover{
  background: #04F06A;
  color:black;
}
select option{
  background-color: #454545;
  color: white
}

textarea{
  outline-color: #04F06A;
  border-color: #454545;
  resize: none;
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

.App{
  display: flex;
}

.characterBtn {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  width: 90px;
  height: 90px;
  background-color: #9DCBBA;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.characterBtn:hover{
  background-color: #04F06A;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.main-info{
  display: flex;
  justify-content: space-around;
  width: 100%
}

.character{
  display:flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  align-items: center;
}

.character-info{
  display: flex;
  flex-direction: column;
}

.new-character{
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.txt_field{
  position: relative;
  border-bottom: #454545 2px solid;
}

.txt_field input{
  top: 40px;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position:absolute;
  top: 50%;
  left: 5px;
  color: #454545;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #04F06A;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color:#04F06A
}

.txt_field input:focus ~ span::before,
.txt_field input:focus ~ span::before{
  width: 100%;
}

.stats{
  height: 300px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.stats .txt_field label{
 width: 0px;
}


.stats-section{
  display: flex;
}

.level-up-section{
  height:300px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.roll{
  display: flex;
  flex-direction: column-reverse;
}


.roll .dice{
  display: flex;
  flex-direction: column-reverse;
}

.roll button{
  height: 30px;
  cursor: pointer;
  width: 70px;
  background-color: #9DCBBA;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.roll button:hover{
  background-color: #04F06A;
}

.rolled-total{
  width: 70px;
  height: 50px;
  background-color: #04F06A;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rolled-total h2{
  color: black;
}

.spell-skill-inventory{
  display: flex;
  margin: 10px;
  width: 100%;
  justify-content: space-around;
}
.spell-skill-inventory h3{
  text-align: center;
}

.spells{
  width: 33%;
  margin-left: 10px;
  margin-right: 5px;
}

.skills{
  width: 33%;
  border: 2px solid #6D5959;
}

.skill-name{
  margin: 5px;
  border-bottom: 1px solid #454545;
  display: flex;
  justify-content: space-between;
}

.inventory{
  width: 33%;
  margin-left: 5px;
  margin-right: 10px;
}

.new-spell-inventory{
  margin-top: 20px;
  width: 100%;
  height:30%;
  display: flex;
  justify-content: space-around;
}

.new-spell{
  width: 30%;
  text-align: center;
}

.stats-section{
  margin-top: 10px;
  
  background-color: #9DCBBA;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}

.stats-section div{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.stats-section button{
  border: 1px solid #454545;
  border-radius: 5px;
  width: 70%;
  height:  50%
}

.stats-section button:hover{
  cursor: pointer;
  background-color: #04F06A;
}

.character-change-btn{
  background-color: #454545;
  height: 30px;
  border: none;
  color: white;
  border-radius: 5px;
}

.character-change-btn:hover{
  background-color: #04F06A;
  cursor: pointer;
  color: black;
}

.healthBtn-off{
  background-color: #454545;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: white;
}
.healthBtn-on{
  height: 100%;
  color: white;
}

.healthBtn-off:hover{
  color: black;
  background-color: #04F06A;
  cursor: pointer;
}

.healthBtn-on input{
  border: none;
  height: 30px;
  outline-color:  #04F06A;
  cursor: pointer;
}

.healthBtn-on button{
  background-color: #454545;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 50%;
  color: white;
}