/* 88ccf1
c1dff0
3577a4
2d848a
2d898b */

body {
  margin: 0;
  background-color: #c1dff0;
}

header {
  background: #2d848a;
  background: linear-gradient(to bottom, #2d848a 0%, #88CCF1 100%);
  width: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 80px;
  height: 80px;
  margin: 0;
  border-radius: 50%;
}

h1 {
  color: #3587A4; 
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.App{
  display: flex;
}

.characterBtn {
  margin: 0;
  padding: 0;
  width: 90px;
  height: 90px;
  background-color: #3587a4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-info{
  display: flex;
  flex-direction: column;
}